{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the Navigation region.
 * - page.page_title: Used by Current page Title.
 * - page.banner: Items for the banner region.
 * - page.highlighted: Items for the highlighted top  region.
 * - page.content_top: The main content top of the current page.
 * - page.help: Item for the help region.
 * - page.breadcrumb: Item for the Breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.content_bottom: Items for the bottom in content region.
 * - page.footer_top: Items for the footer top region.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer Second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<!--Header and Navbar-->
<header class="main-header">
  <nav class="navbar navbar-default bootsnav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <i class="fa fa-bars"></i>
        </button>
        {% if page.header %}
          {{ page.header }}
        {% endif %}
      </div>

      <!--Navigation-->
      {% if page.primary_menu %}
        <div id="navbar-menu" class="collapse navbar-collapse">
          {{ page.primary_menu }}
        </div>
      {% endif %}
      <!--End Navigation-->

    </div>
  </nav>

  {% if show_slideshow %}
    <div class="container">
      <div class="flexslider">
        <ul class="slides">
          {% for slider_contents in slider_content %}
            {{ slider_contents | raw }}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

</header>
<!--End Header & Navbar-->

<!--Highlighted-->
  {% if page.highlighted %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ page.highlighted }}
        </div>
      </div>
    </div>
  {% endif %}
<!--End Highlighted-->

<!--Layout-->
<div class="frontpage-widget">
  <div class="container">
    <h1>Универсальные проигрыватели</h1>
    <div class="row">
      <div class="col-md-5">
        <a href="/products/klimax-system-hub">
          <img class="img-responsive" src="/sites/default/files/frontpage/klimax-system-hub-black-front-x500.png" alt="Klimax System Hub" />
        </a>
      </div>
      <div class="col-md-7">
        <h2>Klimax System Hub</h2>
        <p>Передайте всю свою любимую музыку из облака или по собственной домашней сети и слушайте ее в беспрецедентном качестве. Klimax System Hub будет обрабатывать все, от загрузок Studio Master до потокового вещания Tidal или интернет-радио.</p>
        <p class="clearfix">
          <a class="pull-right" href="/products/klimax-system-hub" role="button">Подробнее <i class="fa fa-angle-right"><span>&nbsp;</span></i></a>
        </p>
      </div>
    </div>
    <div class="row tab-content">
      <div class="col-md-7">
        <h2>Akurate System Hub</h2>
        <p>Просматривайте свою цифровую музыкальную библиотеку, транслируйте онлайн музыку и видео и слушайте саундтреки к фильмам, все в исключительных деталях. Этот сетевой музыкальный проигрыватель подключается практически к любому источнику музыки или звука в вашем доме и воспроизводит его безупречно.</p>
        <p class="clearfix">
          <a class="pull-right" href="/products/akurate-system-hub" role="button">Подробнее <i class="fa fa-angle-right"><span>&nbsp;</span></i></a>
        </p>
      </div>
      <div class="col-md-5">
        <a href="/products/akurate-system-hub">
          <img class="img-responsive" src="/sites/default/files/frontpage/akurate-system-hub-silver-front-x500.png" alt="Akurate System Hub" />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="frontpage-widget">
  <div class="container">
    <h1>Виниловые проигрыватели</h1>
    <div class="row">
      <div class="col-md-5">
        <a href="/products/klimax-lp12">
          <img class="img-responsive" src="/sites/default/files/frontpage/klimax-lp12-oak-x500.jpg" alt="Klimax LP12" />
        </a>
      </div>
      <div class="col-md-7">
        <h2>Klimax LP12</h2>
        <p>Наш флагманский проигрыватель Klimax LP12 сегодня является вершиной воспроизводства, устанавливая мировой стандарт для всех остальных проигрывателей на рынке.</p>
        <p>Более чем 40-летний опыт исследований и разработок ушел в эту последнюю эволюцию проигрывателя, которая перевернула индустрию Hi-Fi еще в начале пути Linn.</p>
        <p class="clearfix">
          <a class="pull-right" href="/products/klimax-lp12" role="button">Подробнее <i class="fa fa-angle-right"><span>&nbsp;</span></i></a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h2>Akurate LP12</h2>
        <p>Воспламените свою страсть к музыке с помощью проигрывателя, который предлагает элегантный дизайн и исключительную производительность.</p>
        <p>Эта обновленная модель включает отдельный выделенный источник питания, шлифованный чехол, картридж Krystal и тонарм Linn Akito. Обеспечивает потрясающе музыкальное исполнение ваших любимых виниловых пластинок.</p>
        <p class="clearfix">
          <a class="pull-right" href="/products/akurate-lp12" role="button">Подробнее <i class="fa fa-angle-right"><span>&nbsp;</span></i></a>
        </p>
      </div>
      <div class="col-md-5">
        <a href="/products/akurate-lp12">
          <img class="img-responsive" src="/sites/default/files/frontpage/akurate-lp12-krystal-x500.jpg" alt="Akurate LP12" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <a href="/products/majik-lp12">
          <img class="img-responsive" src="/sites/default/files/frontpage/majik-lp12-black-x500.jpg" alt="Majik LP12" />
        </a>
      </div>
      <div class="col-md-7">
        <h2>Majik LP12</h2>
        <p>Идеальный первый шаг к высококачественному воспроизведению винила. Использованы тщательно отобранные компоненты, разработанные компанией Linn, чтобы вы могли оценить культовый тонарм LP12.</p>
        <p>Революционный проигрыватель, который перевернул индустрию Hi-Fi еще на этапе образования Linn.</p>
        <p class="clearfix">
          <a class="pull-right" href="/products/majik-lp12" role="button">Подробнее <i class="fa fa-angle-right"><span>&nbsp;</span></i></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="frontpage-widget-grey">
  <div class="container">
    <h1>Сетевые музыкальные системы</h1>
    <div class="col-md-3">
      <h3>Klimax DSM</h3>
      <p>
        <a href="/products/klimax/klimax-dsm">
          <img class="img-responsive" src="/sites/default/files/frontpage/klimax-dsm.png" alt="Klimax DSM" />
        </a>
      </p>
      <p>Для тех, кто ищет лучшее.</p>
      <p class="clearfix">
        <a class="pull-right" href="/products/klimax/klimax-dsm" role="button">Подробнее <i class="fa fa-angle-right"><span>&nbsp;</span></i></a>
      </p>
    </div>
    <div class="col-md-3">
      <h3>Akurate DSM</h3>
      <p>
        <a href="/products/akurate/akurate-dsm">
          <img class="img-responsive" src="/sites/default/files/frontpage/akurate-dsm.png" alt="Akurate DSM" />
        </a>
      </p>
      <p>Сочетание производительности и гибкости.</p>
      <p class="clearfix">
        <a class="pull-right" href="/products/akurate/akurate-dsm" role="button">Подробнее <i class="fa fa-angle-right"><span>&nbsp;</span></i></a>
      </p>
    </div>
    <div class="col-md-3">
      <h3>Selekt DSM</h3>
      <p>
        <a href="/products/selekt/selekt-dsm">
          <img class="img-responsive" src="/sites/default/files/frontpage/selekt-dsm.png" alt="Selekt DSM" />
        </a>
      </p>
      <p>Выберите наиболее подходящую для вас систему.</p>
      <p class="clearfix">
        <a class="pull-right" href="/products/selekt/selekt-dsm" role="button">Подробнее <i class="fa fa-angle-right"><span>&nbsp;</span></i></a>
      </p>
    </div>
    <div class="col-md-3">
      <h3>Majik DSM</h3>
      <p>
        <a href="/products/majik/majik-dsm">
          <img class="img-responsive" src="/sites/default/files/frontpage/majik-dsm.png" alt="Majik DSM" />
        </a>
      </p>
      <p>Остаётся только добавить колонки</p>
      <p class="clearfix">
        <a class="pull-right" href="/products/majik/majik-dsm" role="button">Подробнее <i class="fa fa-angle-right"><span>&nbsp;</span></i></a>
      </p>
    </div>
  </div>
</div>
<!--End layout-->

<!--Start: Footer-->
{% if page.footer_first or page.footer_second or page.footer_third %}
  <div class="footerwidget">
    <div class="container">
      <div class="row">

        <!--Start Footer First Region-->
        <div class={{ footer_class }}>
          {% if page.footer_first %}
            {{ page.footer_first }}
          {% endif %}
        </div>
        <!--End Footer First Region-->

        <!--Start Footer Second Region-->
        <div class={{ footer_class }}>
          {% if page.footer_second %}
            {{ page.footer_second }}
          {% endif %}
        </div>
        <!--End Footer Second Region-->

        <!--Start Footer third Region-->
        <div class={{ footer_third_class }}>
          {% if page.footer_third %}
            {{ page.footer_third }}
          {% endif %}
        </div>
        <!--End Footer Third Region-->
      </div>
    </div>
  </div>
{% endif %}
<!--End Footer-->

<!--Start Footer Menu-->
{% if page.footer_menu %}
  <div class="footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          {{ page.footer_menu }}
        </div>
        {% if show_social_icon %}
        <div class="col-sm-6 col-md-6">
          <div class="social-media">
            {% if facebook_url %}
              <a href="{{ facebook_url }}" class="facebook" target="_blank" ><i class="fab fa-facebook-f"></i></a>
            {% endif %}
            {% if google_plus_url %}
              <a href="{{ google_plus_url }}" class="google-plus" target="_blank" ><i class="fab fa-google-plus-g"></i></a>
            {% endif %}
            {% if twitter_url %}
              <a href="{{ twitter_url }}" class="twitter" target="_blank" ><i class="fab fa-twitter"></i></a>
            {% endif %}
            {% if linkedin_url %}
              <a href="{{ linkedin_url }}" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            {% endif %}
            {% if pinterest_url %}
              <a href="{{ pinterest_url }}" class="pinterest" target="_blank" ><i class="fab fa-pinterest-p"></i></a>
            {% endif %}
            {% if rss_url %}
              <a href="{{ rss_url }}" class="rss" target="_blank" ><i class="fas fa-rss"></i></a>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<!--End Footer Menu-->

{% if copyright_text or show_credit_link %}
<div class="copyright">
  <div class="container">
    <div class="row">

      <!--Copyright-->
      <div class="col-sm-6 col-md-6">
        {% if copyright_text %}
          <p>{{ copyright_text }}</p>
        {% endif %}
      </div>
      <!--End Copyright-->

      <!--Credit link-->
      {% if show_credit_link %}
        <div class="col-sm-6 col-md-6">
          <p class="credit-link">Designed by <a href="mailto:s.j.schukin@yandex.ru" target="_blank">sjs</a></p>
        </div>
      {% endif %}
      <!--End Credit link-->

    </div>
  </div>
</div>
{% endif %}


<!--Google map-->
{% if page.google_map %}
  <div class="google_map">
    {{ page.google_map }}
  </div>
{% endif %}
<!--End Google map-->
